body {
   display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #e6dee2;
}

/* Parte 1 */
.imageContainer {
padding-bottom: 30px;
}

.imagen {
  cursor: pointer;
}

.imagen img {
  height: 190px;
}


.stickersContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.stickers {
  display: flex;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.boton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultado {
  background-color: #7EC89F;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  color: #FEFCFD;
  font-size: 17px;
}

/* Parte 3 */
.passContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.box {
  border: 1px solid #2B6445;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.selects {
  display: flex;
  padding-bottom: 20px;
}

.select {
  padding: 10px;
}

.passButton {
  background-color: #7EC89F;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  color: #FEFCFD;
  font-size: 17px;
}